
* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png  -text
*.jpg  -text
*.jpeg -text
*.gif  -text
*.webp -text
*.avif -text
*.ico  -text
*.woff  -text
*.woff2 -text
*.ttf  -text
*.otf  -text
*.jks  -text
*.zip  -text
*.exe  -text
*.dll  -text
*.apk  -text
*.jar  -text
*.pdf  -text
